@font-face {
    font-family: 'iconfont';
    src: url('iconfont.woff2') format('woff2'),
        url('iconfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

